.item-container{
	display:flex;
		flex-direction:row;

}
.item-container a{
	flex-grow:1;
	color:initial;
	text-decoration:none;
}
.subject-container{
	flex-direction: column;
    display: flex;
    background-color: #efefef;
    border-radius: .3em;
    box-shadow: 2px 4px 0px #dcdcdc;
	
}
.item{
background-color: aquamarine;
    margin: 0.2em;
    padding: 0.4em;
    border-radius: 0.2em;
	
}
h1{
	margin-bottom: 0;
    padding: .2em;
}